
body {
    /* font-family: myFirstFont; */
    background-color: #fff;
    overflow-x: hidden;
}

.rounded-lg{
    border-radius: 1.25rem!important;
}

.fs-6 {
    font-size: 0.8rem!important;
}


.border-bottom-gray{
    border-bottom: 1px solid #d3d3d363 !important;
}

.bg-nav-transparent{
    background-color: #ffffffcf !important;
    backdrop-filter: blur(35px);
}

.bg-pill{
   background-color:  #f3f4f6 !important;
}
.rounded-lg-custom{
    border-radius: 1.25rem!important;
    border: 0px solid !important;
}


  .filter{
      
      transition : filter 0.5s;
  }

  
  .filter:hover{
      filter: brightness(0.8);
  }

  

.main-color{
    color: linear-gradient(to right, #0f7fae, #1cbcb4);
}

.bg-main{
    /* background-color: #006cad; */
    background: linear-gradient(to right, #0f7fae, #1cbcb4);
}


.text-main{
    color: #006cad;
}

 .bg-custom-info{
    background-color: #dbeafe;
 }

 .bg-custom-success{
    background-color: #dcfce7;
 }

 .text-custom-success{
    color: #dcfce7;
 }

 .bg-custom-danger{
    background-color: #fee2e2;
 }


 .bg-custom-primary{
    background-color: #dbeafe;
 }
.text-xs {
    font-size: .65rem !important;
    line-height: 1rem;
}

.text-s {
    font-size: .75rem !important;
    line-height: 1rem;
}

.bg-sec-4{
    background-image: url('../images/homepage/dots.svg');
    background-repeat: no-repeat;
    background-position-y: 50px;
}


.custom-shadow{
    transition: box-shadow 0.7s;
}

.custom-shadow:hover{
        -webkit-box-shadow: -1px 2px 20px 0px rgb(72 78 85 / 60%);
        box-shadow:-1px 2px 20px 0px rgb(72 78 85 / 60%); 
}




/* map page */

#map {
    height: 510px;
  }

  .gm-style-iw{
      max-height: 800px;
  }


  .carousel-inner {
    height: 400px !important;
    padding-bottom: 25%; /* this sets carousel aspect ratio (4:1 here) */
  }
    
    .carousel-item {
      position: absolute !important; /* Bootstrap is insistent */
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    
    .carousel-item img {
      height: 100%; /* Bootstrap handles width already */
      object-fit: cover; /* or 'contain' if you want stretch instead of crop */
    }

    /* end */


.is-sticky {
    position: sticky !important;
    top: 100px;
}






.gallary > img{
   
    transition : filter 0.9s;
  }

   .gallary > img:hover{
    filter: brightness(0.8);
}





/* navbar */

.fs-7 {
    font-size: .9rem!important;
}

.line {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  .line:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background:linear-gradient(to right, #0f7fae, #1cbcb4);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .line:hover:after { 
    width: 100%; 
    left: 0; 
  }



  @media screen and (max-height: 300px) {
      ul {
          margin-top: 40px;
      }
     
}


.dropdown-position{
    left: -60%  !important;
}
/* end navbar */

.bg-custom-dark{
    background-color: rgba(0, 0, 0, 0.486)
  }

  
#load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url("/loading.gif") no-repeat center center rgb(255, 255, 255)

}

.spinner-border{
    color:#358893d9;
}




.accordion-button:not(.collapsed) {
    background: linear-gradient(to right, #0f7fae, #1cbcb4) !important;
    color:white;
}

.title-hr{
    width: 5%;
    height: 3px !important;
    background: linear-gradient(to right, #0f7fae, #1cbcb4) !important;
    opacity: 1 !important;
}


.heart{
    left: 85% !important;
    font-size: xx-large;
    top: 10% !important;
    z-index: 9;
}



/* rating */

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
   
  }
  .rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
  
  }
  .rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:40px;
    color:#ccc;
    transition: transform .3s ease-in-out;
  }
  .rate:not(:checked) > label:before {
    content: '★ ';
  }
  .rate > input:checked ~ label {
    color: #ffc700;    
  }
  .rate:not(:checked) > label:hover,
  .rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
    transform: scale(1.4);
    box-shadow: 1 1 2 2 red;
   
    
  }
  .rate > input:checked + label:hover,
  .rate > input:checked + label:hover ~ label,
  .rate > input:checked ~ label:hover,
  .rate > input:checked ~ label:hover ~ label,
  .rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
  
  }
  .white-space-normal{
    white-space: normal;
  }
  @media (min-width: 575.98px) {
    .custom-position-absolute {
      position: absolute;
      left: 10px !important;
      /* Additional positioning properties can be added here */
    }

    
  }